.common {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.form-container {
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  text-align: center;
}

form h1 {
  margin-bottom: 0.5em;
  font-size: 2.5rem;
}

a {
  font-size: 15px;
  text-decoration: none;
  color: rgb(167, 57, 167);
}
