button {
  font-size: 1.15em;
  width: 15%;
  max-width: 200px;
  padding: 0.4rem .8rem;
  margin-top: 1.5rem;
  text-align: center;
  background-color: #c65bcf;
  color: #edf2f4;
  cursor: pointer;
  border-radius: 15px;
}

button:hover {
  background-color: #874ccc;
}
